<div class="row">
  <div class="twelve columns"><h1>{{ngo.nameEn}}</h1></div>
</div>

<div class="row">
  <div class="eight columns">
    <div class="row">
      <div class="eight columns">
        {{ ngo.street }} {{ ngo.postcode }} {{ ngo.town }} {{ ngo.country }}
      </div>
      <div class="four columns">
        <strong>{{ ngo.nbMembers }}</strong> Members <br/>
        <strong>{{ ngo.staff }}</strong> staff
      </div>
    </div>
  </div>
  <div class="four columns">
    
  </div>
</div>