<div class="row">
  <div class="four columns">
    <select>
      <option>-- Select an area of competence -- </option>
    </select>
    </div>
  <div class="four columns">
      <select>
      <option>-- Select a commitee -- </option>
    </select>
    </div>
    <div class="four columns">
      <select>
      <option>-- Select a country -- </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="eight columns">
  <input type="text"/>
</div>
</div>

<!-- ingo list -->

<div class="row" ng-repeat="ingo in ingos">
  <div class="three columns">
  {{ ingo["Name (english)"] }}
  </div>
  <div class="three columns">

  </div>
  <div class="three columns">

  </div>
  <div class="three columns">
  
  </div>
</div>
