<div class="row">
  <div class="four columns">
    <form name="frm">
      <input type="email" name="email" placeholder="your email" 
        ng-model="user.email" required/>
      <input type="password" name="password" placeholder="your password" 
        ng-model="user.password" 
        ng-pattern="/^([a-zA-Z0-9]){3,8}$/"
        required />
      <input type="submit" value="Sign In" ng-click="submit()" ng-disabled="frm.$invalid"/>
    </form>
  </div>
  <div class="four columns">
    <span ng-show="frm.email.$invalid">Email format incorrect</span><br/>
    <span ng-show="frm.password.$error.pattern">Password format incorrect</span><br/>
    <div ng-bind="message"></div>
  </div>
</div>