<div class="row">
  <div class="four columns">
    <form name="frm">
      <input type="email" name="email" placeholder="your email" ng-model="user.email" required/>
      <input type="password" name="password" placeholder="your password"
          ng-model="user.password"

          required
          ng-pattern="/^.{3,10}$/">
      <input type="submit" value="Sign In" ng-click="submit()" ng-disable/>
    </form>
  </div>
  <div class="four columns">
    <span ng-show="frm.email.$invalid">Email format incorrect</span><br/>
    <span ng-show="frm.password.$invalid">Password format incorrect</span><br/>
    <div ng-bind="message"></div>
  </div>
</div>
