<div id="nbIngos">
  {{ ingosFiltered.length }} / {{ ingos.length }} Ingos
</div>

<!-- filtre -->
<div class="row">
  <div class="four columns">
    <select ng-model="selectAoc.aocs">
      <option value="">-- Select an area of competence --</option>
      <option ng-repeat="aoc in aocs" value="{{aoc.val}}" class={{aoc.class}}>{{aoc.title}}</option>
    </select>
  </div>
  <div class="four columns">
    <select ng-model="selectCommittee.committees">
      <option value="">-- Select a committee --</option>
      <option ng-repeat="committee in committees">{{committee}}</option>
    </select>
  </div>
  <div class="four columns">
    <select ng-model="selectGeoRep.geoReps">
      <option value="">-- Select a country --</option>
      <option ng-repeat="geoRep in geoReps">{{geoRep}}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <input type="text" placeholder="Name/Acronym/Email" ng-model="txtSearch">
  </div>
</div>

<!-- resultat -->
<div class="row">
  <div class="three columns">
    Name
  </div>
  <div class="three columns">
    Name in French
  </div>
  <div class="three columns">
    Adress
  </div>
  <div class="three columns">
    Contact
  </div>
</div>
<div id="ingoList">
  <div class="row" ng-repeat="ingo in ingosFiltered = (ingos | filterBy:['nameEn', 'acronymEn', 'nameFr', 'acronymFr', 'email']:txtSearch | filter:selectAoc | filter:selectCommittee | filter:selectGeoRep)">
    <div class="three columns">
      <span class="numero">{{$index +1}}</span>
      <a href="#/ingos/{{ ingo.id }}">{{ ingo.nameEn }}</a>({{ ingo.acronymEn }})
    </div>
    <div class="three columns">
      <a href="#/ingos/{{ ingo.id }}">{{ ingo.nameFr }}</a>({{ ingo.acronymFr }})
    </div>
    <div class="three columns">
    <a target="carte" href="http://maps.google.fr/maps?f=q&hl=fr&q={{ ingo.street }}, {{ ingo.town }}, {{ ingo.country }} ">
      {{ ingo.street }}<br/>
      {{ ingo.postCode }} {{ ingo.town }} ({{ ingo.country | uppercase }})
    </a>
    </div>

  <div class="three columns">
    {{ ingo.tel }}<br/>
    {{ ingo.fax }}<br/>
    <span ng-bind-html="ingo.website | website"></span>
    <a href="mailto://{{ingo.email}}">{{ ingo.email }}</a>
  </div>
</div>